*{
margin: unsetß
paddingunset
}

/* はじまりはhtmlでclass="heater"を指定　
heater{
    background-color:#000
    color:#fff
    padding:16px
}

contont-1tem{
    margin:16px
    padding:16px
    border:2px solid #000
}

content-1tee-title{
font-size:20px;
font-weight: bold
background-color: #000;
color: #fff
padding: 8px
}